
:root {
  --primary-color: rgba(13, 110, 139, 0.45);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  

}

.about {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;

}

.about:before {
  content: '';
  background: url('./image/seaweed-washed-up-on-beach.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.about .about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

}

.about img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  max-height: 300px;
  max-width: 300px;
  
}

.about h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.about p {
  font-size: 1.1rem;
  padding: 5px;
  width: 70%;
  text-align: justify;
  letter-spacing: 1px;
  font-style: oblique;
}

.contact {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;

}

.contact::before {
  content: '';
  background: url('./image/shiftKeyOnTypewriter.jpg') no-repeat center center/cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

}

.contact .wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 300px;
  width: 100%;
  padding: 0 20px;

}

.contact .contact-form {
  max-height: 400px;
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.13);
  
  
}

.contact .contac-input-fields { 
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  
}

.contac-input-fields,
 .contact-msg {
  width: 48%;
  
}

.contac-input-fields .input,
.contact-msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%

}

.contact-msg textarea {
  height: 212px;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}

::-moz-input-placeholder {
  color: #c5ecfd;
}

::-ms-input-placeholder {
  color: #c5ecfd;
}

.contact-btn {
  background: aqua;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.portfolio {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;

}

.portfolio:before {
  content: '';
  background: url('./image/jsWithLaptopCode.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.portfolio .portfolio-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.portfolio span {
  font-size: 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('./image/beach-sunset.jpg') no-repeat center center/cover, url('./image/city-lights-through-rain-window.jpg') no-repeat center center/cover, url('./image/tablet-coffee.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  animation: slide 10s infinite;
  z-index: -1;
}

.showcase .showcase-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase hi {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  
}
@keyframes slide {
  0%{
    background-image: url('./image/beach-sunset.jpg') ;
 }

 25%{
    background-image: url('./image/beach-sunset.jpg') ;
 }

 25.1%{
    background-image:  url('./image/city-lights-through-rain-window.jpg');
 }

 50%{
    background-image:  url('./image/city-lights-through-rain-window.jpg');
 }
 50.01%{
    background-image: url('./image/tablet-coffee.jpg') ;
 }

 75%{
    background-image: url('./image/tablet-coffee.jpg') ;
 }

}

@media (min-width: 150px) and (max-width: 736px) {
  
  .about h1 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.6rem;
    max-width: 50%;
    
  }

  .about img {
    max-height: 100px;
    max-width: 200px;
    
  }
}

@media screen and (max-width: 700px){
  .contact .contact-form {
    flex-direction: column;
  }

  .contact-msg textarea {
    height: 80px;
  }

  .contac-input-fields,
 .contact-msg {
   width: 100%;
 }
 

}